.Header{
  width: 100%;
  height: 50px;
  background-color: rgb(3, 17, 29);

  & a{
    display: inline-block;
    width: 100px;
    text-align: center;
    text-decoration : none;
    line-height: 50px;
    color: rosybrown;
    font-size: 1em;
    &:hover{
      background-color: cornflowerblue;
      color: whitesmoke;
    }
  }
}